*{
	margin: 0;
	padding: 0;
	box-sizing:;
	transition: all .2s;
	text-decoration: none;
	text-transform: capitalize;
	font-family: 'spartan', sans-serif;
	list-style: none;
}
.first-page{
	width: 100%;
	height: 100vh;
	background-image: linear-gradient(rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2)), url('../images/IMGL3721.jpg');
	background-size: cover;
	background-position: center;
	margin-right: 0px;
}
nav{
	width: 100%;
	height: 100px;
	background-color:;
	background: transparent;
	line-height: 80px;
	opacity: .9;
	position: -webkit-sticky;
	position: sticky;
	padding: 1rem;
	font-size: 1.5rem;
	display: flex;
}
nav i{
	color: white;
	float: left;
	font-size: 1.5rem;
	margin-left: 150px;
	padding-top: 40px;
}
.sidebar{
	position: fixed;
	left: -250px;
	width: 250px;
	height: 100%;
	background: #042331;
	transition: all .5s ease;
	padding-top: 0px;
	overflow-y: scroll;
}
.sidebar header{
	font-family: 'Allura',  cursive;
	font-size: 20px;
	color: white;
	text-align: center;
	line-height: 70px;
	background: #063146;
	user-select: none;
	margin-top: -15px;
	padding-right: 25px;
}
.sidebar ul a{
	display: block;
	height: 100%;
	width: 100%;
	line-height: 50px;
	font-size: 15px;
	color: white;
	padding-left: 40px;
	box-sizing: border-box;
	border-top: 1px soli rgba(255, 255, 255, .1);
	border-bottom: 1px solid black;
	transition: .4s;
}
ul li:hover a{
	color: gold;
	padding-left: 50px;
}
#check{
	display: none;
}
label #btn,label #cancel{
	position: absolute;
	cursor: pointer;
	background:;
	border-radius: 3px;
}
label #btn{
	left: 40px;
	top: 25px;
	font-size: 25px;
	color: white;
	padding: 25px 12px;
	transition: all .5s;
}
label #cancel{
	z-index: 1111;
	left: -195px;
	top: 17px;
	font-size: 20px;
	color: white;
	padding: 4px 9px;
	transition: all .5s ease;
}
#check:checked ~ .sidebar{
	left: 0;
}
#check:checked ~ label #btn{
	left: 250px;
	opacity: 0;
	pointer-events: none;
}
#check:checked ~ label #cancel{
	left: 195px;
}
#check:checked ~ .first-page{
	margin-left: 250px;
}
.search-icon{
	height: 40px;
	width: ;
	display: flex;
	background: none;
	border-radius: 5px;
}
.search-icon input{
	height: 100%;
	width: 200px;
	border: none;
	outline: none;
	padding: 0 10px;
	color: #000;
	font-size: 16px;
	border-radius: 5px 0 0 5px;
}
.search-icon .icon{
	height: 100%;
	width: 40px;
	line-height: 40px;
	text-align: center;
	color: white;
		border-radius: 0 5px 5px 0;
		cursor: pointer;
}
.search-icon .icon:hover{
	background: ;
}
.search-icon .icon span{
	color: white;
	font-size: 25px;
}
.customer-icons{
	float:right;
	padding-left: 180px;
	padding-top: 20px;
}
.customer-icons div{
	display: inline-block;
	color: white;
	padding: 20px;
	font-size: 1.5rem;
	float:;

}
#logo img{
	width: 110px;
	border-radius: 50px;
	margin-left: 600px;
	margin-top: 10px;
}
.bg-img{
	background: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)), url('../images/IMGL3721.jpg');
	height: 100vh;
	background-size: cover;
	background-position: center;
}
.bg-imgg{
	background: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)), url('../images/IMGL4061.jpg');
	height: 100vh;
	background-size: cover;
	background-position: center;
}

.bg-imgg p{
	padding-top:;
	margin-top: 50px;
	color: white;
	font-size: 20px;
	font-family: 'Allura',  cursive;
	font-family: ;
}
.bg-imgg p a{
	color: coral;
	font-size: 20px;
	font-family: 'Allura',  cursive;
}
.bg-imgg p a:hover{
	text-decoration: underline;
}
.cont{
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 999;
	text-align: center;
	align-items: center;
	padding: 20px 22px;
	width: 700px;
	transform:translate(-50%, -50%);
	margin-top: 50px;
	
}
.contentt{
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 999;
	text-align: center;
	padding: 20px 22px;
	width: 370px;
	transform:translate(-50%, -50%);
	background: rgba(255, 255, 255, 0.04);
	box-shadow: -1px 4px 28px 0px rgba(0, 0, 0, 0.75);
	margin-top: 70px;
}
.contenttt{
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 999;
	text-align: center;
	padding: 20px 22px;
	width: 370px;
	transform:translate(-50%, -50%);
	background: rgba(255, 255, 255, 0.04);
	box-shadow: -1px 4px 28px 0px rgba(0, 0, 0, 0.75);
	margin-top: 60px;
}
.contentt header{
	color: white;
	font-size: 33px;
	font-weight: 600;
	margin: 0 0 35px 0;
	text-decoration: underline;
}
.contenttt header{
	color: white;
	font-size: 33px;
	font-weight: 600;
	margin: 0 0 35px 0;
	text-decoration: underline;
}
.field{
	position: relative;
	height: 45px;
	width: 100%;
	display: flex;
	background: rgba(255, 255, 255, 0.94);
}
.comb{
	display: flex;
}
.checkbox-text{
	color: white;
	padding: 15px 15px;
	text-align: left;
}
.field span{
	color: #222;
	width: 40px;
	line-height: 45px;
}
.field input{
	height: 100%;
	width: 100%;
	background: transparent;
	border: none;
	outline: none;
	color: #222;
	font-size: 16px;
}
.space{
	margin-top: 16px;
}
.show{
	position: absolute;
	right: 13px;
	font-size: 13px;
	font-weight: 700;
	color: black;
	cursor: pointer;
}
/*.pass-key:valid ~ .show{
	display: block;
}*/
.pass{
	text-align: left;
	margin: 10px 0;
}
.pass a {
	color: #fff;
	text-decoration: none;
}
.pass:hover a {
	text-decoration: underline;
}
.field input[type="submit"]{
	background: #3498db;
	border: 1 px solid #3498db;
	color: #fff;
	font-size: 18px;
	letter-spacing: 1px;
	font-weight: 600;
	cursor: pointer;
}
.field input[type="submit"]:hover{
	background: #2691db;
}
.login{
	color: #fff;
	margin: 20px 0;
}
.links{
	display: flex;
	cursor: pointer;
	color: #fff;
	margin: 0 0 20px 0;
}
.facebook,
.instagram{
	width: 100%;
	height: 45px;
	line-height: 45px;
	margin-left: 10px;
}
.facebook{
	margin-left: 0;
	background: #4267b2;
	border: 1px solid #3e61a8;
	padding-top: 20px;
}
.instagram{
	background: #e1306c;
	border: 1px solid #df2060;
	padding-top: 20px;
}
.facebook:hover{
	background: #3e61a8;
}
.instagram:hover{
	background: #df2060;
}
.links i{
	font-size: 17px;
}
i span{
	margin-left: 8px;
	font-weight: 500;
	letter-spacing: 1px;
	font-size: 16px;
}
.signup{
	font-size: 15px;
	color: #fff;
	padding: 10px;
}
.signup a{
	color: #3498db;
	text-decoration: none;
}
.signup a:hover{
	text-decoration: underline;
}
.content{
	text-align: center;
	margin-right:;
	padding-top: 130px;
}
.content h2{
	font-family: 'Allura',  cursive;
	font-size: 30px;
	text-align: center;
	color: floralwhite;
	padding: 1rem;
}
.content button{
	font-family: 'Allura',  cursive;
	background: black;
	padding: 10px;
	color: white;
	border-radius: ;
	font-size: 1rem;
	margin-top: 20px;
	margin-right: 50px;
}
.content button:hover{
	background: #088178;
	color: black;
	cursor: pointer;
}
.search-bar{
	background: rgba(255, 255, 255, 0.2);
	width: 100%;
	min-width: 700px;
	display: flex;
	align-items: center;
	border-radius: 60px;
	padding: 10px 20px;
	backdrop-filter: blur(4px) saturate(180%);
	margin-top: ;
}
.search-bar input{
	background: transparent;
	flex: 1;
	border: 0;
	outline: none;
	padding: 16px 15px;
	font-size: 20px;
	color: #cac7ff;
}
.search-bar button i{
	width: 25px;
	font-size: 30px;
}
.search-bar button{
	border: 0;
	border-radius: 50%;
	width: 60px;
	height: 60px;
	cursor: pointer;
	background: #58629b;
}
.second-page{
	padding: 2rem 5%;
	background: black;
}
.collections{
	padding-top: 2rem;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	gap: 45px;
}

.second-page h1{
	font-size: 20px;
	text-align: center;
	color: white;
	font-weight: 100;
	font-family: 'Allura',  cursive;
	padding: 20px;
}
.second-page h2{
	color: white;
	text-align: center;
}
.merch1{
	text-align: center;
	background-image: linear-gradient(rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2)), url('../images/IMGL4016.jpg');
	min-width: 250px;
	height: 50vh;
	background-size: cover;
	background-position: center;
	padding: 30px;
	transition: transform .2s;
}
.merch1:hover {
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.1);
  cursor: pointer; 
}
.merch2{
	text-align: center;
	background-image: linear-gradient(rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2)), url('../images/IMGL3858.jpg');
	min-width: 250px;
	height: 50vh;
	background-size: cover;
	background-position: center;
	padding: 30px;
	transition: transform .2s;
}
.merch2:hover{
	-ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.1); 
  cursor: pointer;
}
.merch3{
	text-align: center;
	background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url('../images/jack.jpg');
	min-width: 250px;
	height: 50vh;
	background-size: cover;
	background-position: center;
	padding: 30px;
	transition: transform .2s;
}
.merch3:hover{
	-ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.1); 
  cursor: pointer;
}
.merch4{
	text-align: center;
	background-image: linear-gradient(rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2)), url('../images/dress.jpg');
	min-width: 250px;
	height: 50vh;
	background-size: cover;
	background-position: center;
	padding: 30px;
	transition: transform .2s;
}
.merch4:hover{
	-ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.1); 
  cursor: pointer;
}
.merch5{
	text-align: center;
	background-image: linear-gradient(rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2)), url('../images/IMGL3584.jpg');
	min-width: 250px;
	height: 50vh;
	background-size: cover;
	background-position: center;
	padding: 30px;
	transition: transform .2s;
}
.merch5:hover{
	-ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.1); 
  cursor: pointer;
}
.merch6{
	text-align: center;
	background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url('../images/ss.avif');
	min-width: 250px;
	height: 50vh;
	background-size: cover;
	background-position: center;
	padding: 30px;
	transition: transform .2s;
}
.merch6:hover{
	-ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.1); 
  cursor: pointer;
}
.merch7{
	text-align: center;
	background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url('../images/sg.webp');
	min-width: 250px;
	height: 60vh;
	background-size: cover;
	background-position: center;
	padding: 30px;
	transition: transform .2s;
}
.merch7:hover{
	-ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.1); 
  cursor: pointer;
}
.merch1 h2{
	text-align: center;
	padding-top: 180px;
	font-size: 30px;
}
.merch2 h2{
	text-align: center;
	padding-top: 180px;
	font-size: 30px;
}
.merch3 h2{
	text-align: center;
	padding-top: 180px;
	font-size: 30px;
}
.merch4 h2{
	text-align: center;
	padding-top: 180px;
	font-size: 30px;
}
.merch5 h2{
	text-align: center;
	padding-top: 180px;
	font-size: 30px;
}
.merch6 h2{
	text-align: center;
	padding-top: 180px;
	font-size: 30px;
}
.merch7 h2{
	text-align: center;
	padding-top: 180px;
	font-size: 30px;
}
.bags{
	padding: 2rem;
	background: black;
	width:;
}
.bags h1{
	font-size: 20px;
	text-align: center;
	color: white;
	padding-bottom: 4rem;
	font-family: 'Allura',  cursive;
}
.bags-collection{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: 20px;
	text-align: center;
	padding:;
}
.bags-collection h2{
	padding: 0.5rem;
	font-size: 1rem;
	color: white;
}
.bags-collection p{
	font-weight: 300;
	padding-bottom: 10px;
	color: white;
}
.customer-bag1 img{
	min-width: 150px;
	height: 70vh;
	opacity: 2.0;
}
.customer-bag1 img:hover{
	opacity: 0.8;
}

.customer-bag2 img{
	min-width: 200px;
	height: 30vh;
	opacity: 2.0;
}
.customer-bag2 img:hover{
	opacity: 0.8;
}
.customer-bag3 img{
	min-width: 150px;
	height: 70vh;
	opacity: 2.0;
}
.customer-bag3 img:hover{
	opacity: 0.8;
}
.contentt h1{
	color: white;
	font-size: 20px;
	font-family: 'Allura',  cursive;
	padding-bottom: 60px;
}
.contentt p{
	color: white;
	padding-bottom: 60px;
}
.contentt p a{
	color: gold;
}
.contentt p a:hover{
	text-decoration: underline;
	color: coral;
}
#product-p1{
	padding: 2rem 5%;
	background: black;
	
}
#product-p1 h2{
	text-align: center;
	font-size: 20px;
	padding: 1rem 0;
	font-family: 'Allura',  cursive;
	color: white;
}
#product-p1 .products-container{
	display: flex;
	justify-content: space-between;
	padding-top: 20px;
	flex-wrap: wrap;
	gap: 15px;
}
#product-p1 .products-container .products{
	flex: 1 1 250px;
}
.products{
	width: 100%;
	min-width: 300px;
	padding: 10px 12px;
	border: 1px solid gold;
	border-radius: 25px;
	cursor: pointer;
	box-shadow: ;
	margin: 15px 0;
	position: relative;
}
#product-p1 .products img{
	height: 40vh;
	width: 100%;
	border-radius: 20px;
}
#product-p1 .products .desc{
	text-align: start;
	padding: 10px 0;
}
#product-p1 .products .desc h5{
	padding-top: 7px;
	color: white;
	font-size: 14px;
}
#product-p1 .products .desc i{
	font-size: 12px;
	color: rgb(243, 181, 25);
}

#product-p1 .products .desc h4{
	padding-top: 7px;
	font-size: 15px;
	font-weight: 700;
	color: #088178;
}
#product-p1 .products .cart{
	width: 40x;
	height: 40px;
	line-height: 40px;
	border-radius: 150px;
	background-color: #e8f6ea;
	font-weight: 500;
	color: #088178;
	border: 1px solid #cce7do;
	position: absolute;
	bottom: 20px;
	right: 10px;
}
.offer{
	padding: 2rem 5%;
	color: white;
	background: black;
}
.offer h1{
	font-size: 20px;
	text-align: center;
	color: white;
	font-weight: 100;
	font-family: 'Allura',  cursive;
	padding-bottom: 60px;
}
.customer{
	display: flex;
	gap: 100px;
	flex-wrap: wrap;
}
.customer-offer img{
	min-width: 200px;
	height: 70vh;
	padding-left: 45px;
	opacity: 2.0;
}
.customer-offer img:hover{
	opacity: 0.8;
}
.image-content{
	text-align: center;
}
.image-content h2{
	padding: 1rem;
	font-size: 20px;
	margin-left: ;
}
.image-content h6{
	padding: 1rem;
	font-size: 25px;
	margin-left: ;
}
.image-content h3{
	padding: 1rem;
	font-size: 16px;
	margin-right: ;
}
.image-content ul li{
	display: inline; 
	padding: 10px;
	border: white solid;
	margin: 10px;
	color: white;
}
.image-content p{
	padding: 1rem;
	font-size: 15px;
	font-weight: 600;
	border: coral solid;
	margin-bottom: 10px;
	line-height: 20px;
	margin-top: 30px;
	background: coral;
	color: white;
	padding-left: ;
}
.image-content p:hover{
	color: gold;
}
.image-content .buy{
	background:none;
	color: coral;
	padding-left: ;
}
.image-content h4{
	padding: 1.5rem;
	font-size: 20px;
	margin-left: ;
}
.image-content ul li:hover{
	background-color: gold;
}
.banners{
	padding: 2rem 5%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	background: black;
}
.banners .banner1{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	text-align: center;
	background-image: linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.3)), url('../images/cover.jpg');
	min-width: 500px;
	height: 50vh;
	background-size: cover;
	background-position: center;
	padding: 30px;
}
.banners .banner2{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	text-align: center;
	background-image: linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.3)), url('../images/tote.jpg');
	min-width: 500px;
	height: 50vh;
	background-size: cover;
	background-position: center;
	padding: 30px;
}
.banners h4{
	color: white;
	font-size: 20px;
	font-weight: 300;
}
.banners h2{
	color: white;
	font-size: 28px;
	font-weight: 800;
}
.banners span{
	color: white;
	font-size: 14px;
	font-weight: 500;
	padding-bottom: 15px;
}
.banners button{
	font-size: 13px;
	font-weight: 600;
	padding: 11px 18px;
	color: white;
	background-color: transparent;
	cursor: pointer;
	border: 1px solid;
	outline: none;
}
.banners .banner1:hover button{
	background: lightseagreen;
}
.banners .banner2:hover button{
	background: lightseagreen;
}
.testimonials{
	padding: 2rem 5%;
	background: black;
}
.testimonials h1{
	text-align: center;
	color: white;
	font-size: 20px;
	font-family: 'Allura',  cursive;
	padding: 20px;
}
.customer-testimonials{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	gap: 50px;
}
.testimony{
	padding-bottom: 120px;
}
.testimony p{
	color: white;
	padding: 1.5rem;
	font-size: 15px;
}
.com{
	text-align: center;
	font-weight: 600;
	padding-bottom: ;
}
.interact{
	padding: 2rem 5%;
	background: #292930;
}
.customer-interact{
	padding: 10px;
	text-align: center;
	line-height: 50px;
}
.interact .form{
	text-align: center;
	padding-top: 70px;
	margin-bottom: ;
	padding-bottom: 120px;
}
.interact h4{
	font-size: 22px;
	font-weight: 700;
	color: white;
	padding: 10px;
}
.interact p{
	font-size: 14px;
	font-weight: 600;
	color: white;
	padding: 10px;
}
.interact span{
	color: yellow;
}
.interact input{
	height: 3.125rem;
	padding: 0 1.25em;
	font-size: 14px;
	width:30%;
	border: 1px solid transparent;
	border-radius: 4px;
	outline: none;
	border-top-right-radius: 0;
	border-top-right-radius: 0;
	color: black;
} 
.interact  button{
	height: 3.125rem;
	font-size: 13px;
	font-weight: 600;
	padding:  0 1.25em;
	color: white;
	background-color: coral;
	cursor: pointer;
	border: 1px solid;
	outline: none;
	white-space: nowrap;
	border-top-left-radius: 0;
	border-top-left-radius: 0;
}
.main-footer{
	background: beige;
	padding: 3rem 7%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	display: flex;
}
.our-footer{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin-bottom: 20px;
}
.logo{
	margin-bottom: 30px;
	width: 150px;
	border-radius: 50px;
}
.contact-us{
	padding: 10px;
}
.contact-us span{
	color: lightseagreen;
	font-size: 15px;
}
.main-footer img{
	width: ;
}
.main-footer h4{
	font-size: 14px;
	padding-bottom: 20px;
}
.main-footer p{
	font-size: 15px;
	margin: 0 0 8px 0;
}
.main-footer a{
	font-size: 14px;
	color: lightseagreen;
	margin-bottom: 10px;
}
.follow{
	margin-top: 20px;
}
.follow i{
	color: lightseagreen;
	padding-right: 4px;
	cursor: pointer;
}
.follow i:hover{
	color: gold;
}
.main-footer a:hover{
	color: gold;
}
.footer-icons img{
	border: 1px solid white;
	border-radius: 6px;
	width: 150px;
}
.install img{
	margin: 10px 0 15px 0;
	width: 130px;
}




@media (max-width: 760px) {
	html{
		font-size: 55%;
	}
}